<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
  	<select id="validateId" resultType="deliMember" parameterType="string">
  		SELECT 
  		       MEMBER_NO
  		  FROM 
  		       DELI_MEMBER
  		 WHERE 
  		       MEMBER_ID = #{memberId}
  	</select>
  	<insert id="signUp" parameterType="deliMember">
  		INSERT 
  		  INTO 
  		  	   DELI_MEMBER
  		  	   (
  		  	   MEMBER_NO
  		  	 , MEMBER_ID
  		  	 , MEMBER_PW
  		  	 , MEMBER_NAME
  		  	 , ADDRESS
  		  	   )
  		VALUES 
  			   (
  			   SEQ_MEMBER_NO.NEXTVAL
  			 , #{memberId}
  			 , #{memberPw}
  			 , #{memberName}
  			 , #{address}
  			   )
  	</insert>
  	<select id="validateMember" resultType="deliMember" parameterType = "deliMember">
  		SELECT 
  			   MEMBER_NO
  			 , MEMBER_NAME
  		  FROM 
  		       DELI_MEMBER
  		 WHERE 
  		       MEMBER_ID = #{memberId}
  		   AND 
  		       MEMBER_PW = #{memberPw}
  	</select>
  	<insert id="logIn" parameterType="_int">
  		INSERT 
  		  INTO 
  		       LOG_IN
  		       (
  		       MEMBER_NO
  		       )
  		VALUES 
  		       (
  		       #{memberNo}
  		       )
  	</insert>
  	<delete id="logOut" parameterType="_int">
  		DELETE 
  		  FROM 
  		       LOG_IN
  		 WHERE 
  		       MEMBER_NO = #{memberNo}
  	</delete>
  </mapper>